# Public client-side values
NEXT_PUBLIC_FACILITATOR_URL=https://facilitator.goplausible.xyz
NEXT_PUBLIC_X402_PAYEE_ADDRESS=TKUTQNBZAMY26ZT6AYRX26556WUYCB65I5QLUHB6NPY6ZDKYD7VZECHPMU
NEXT_PUBLIC_X402_REDIRECT_URL=https://www.google.com

# Server-side values
X402_PAYEE_ADDRESS=TKUTQNBZAMY26ZT6AYRX26556WUYCB65I5QLUHB6NPY6ZDKYD7VZECHPMU
ALGOD_TESTNET_URL=https://testnet-api.algonode.cloud
INDEXER_TESTNET_URL=https://testnet-idx.algonode.cloud
